

@section EmailStyle {
    <link rel="stylesheet" href="~/css/EmailStyle.css">
}

<div class="email-sent-container">
    <div class="email-sent-message">
        <h2>Başarıyla E-posta Gönderildi!</h2>
        <p>Hesabınızı doğrulamak için e-posta adresinize bir doğrulama linki gönderildi.</p>
        <p>Lütfen e-posta adresinizi kontrol edin ve linke tıklayarak hesabınızı doğrulayın.</p>
        <a href="/" class="btn-back-home">Ana Sayfaya Dön</a>
    </div>
</div>