/* Sayfanın ortalanması için genel stiller */
.email-sent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Sayfa yüksekliğine göre ortalama */
    background-color: #f4f4f9; /* Sayfa arka plan rengi */
    padding: 0 15px;
}

.email-sent-message {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

    .email-sent-message h2 {
        color: #4CAF50; /* Başlık rengi */
        font-size: 24px;
        margin-bottom: 20px;
    }

    .email-sent-message p {
        font-size: 16px;
        color: #555;
        margin-bottom: 20px;
    }

.btn-back-home {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .btn-back-home:hover {
        background-color: #0056b3;
    }
